# =========================
# DATA & RESULTS
# =========================
*.xlsx
*.csv
data/
datasets/
results/
outputs/

# Allow parquet files in scraper directory
!src/scraper/*.parquet

# =========================
# MODELS
# =========================
models/
*.pkl
*.joblib
*.h5
*.pt

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.venv/
env/

# =========================
# BINARIES
# =========================
*.dll
*.exe

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
